server:
  port: 9001

spring:
  application:
    name: msa-board-comment-service

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3316/comment
    username: root
    password: 1234

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: none

  data:
    redis:
      host: 127.0.0.1
      port: 6479

  kafka:
    bootstrap-servers: localhost:8092